<div class="container-xl mt-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="modal-content mt-5">
        <div>
            <h3 class="text-center">Danh sách sản phẩm</h3>
            <table class="table table-striped" style="text-align: center ;">
            <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Loại</th>
            <th>Mô tả</th>
            <th>tác vụ</th>
            </tr>
            <tr *ngFor="let product of products; index as i">
            <td>{{i + 1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.description}}</td>
            <td>
                <a class="btn btn-info m-2" [routerLink]="['/product/edit', product.id]">Edit</a>
              <a class="btn  btn-danger m-2"   (click)="delete(product.id,product.name)">Delete</a>
            </td>
            </tr>
            </table> 
            <div class="text-center">
              <button class="btn m-2" (click)="backPage()">back</button>
              <button class="btn m-2" (click)="nextPage()">next</button>
            </div>
        </div>
    
      </div>
    </div>
  </div>
</div>  