<div style="width: 500px;">
    <h1>Danh sách sản phẩm</h1>
    <table class="table table-striped" style="text-align: center ;">
    <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>tác vụ</td>
    </tr>
    <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
        <a class="btn btn-info m-2" [routerLink]="['/product/edit', product.id]">Edit</a>
      <a class="btn  btn-danger m-2"   (click)="delete(product.id,product.name)">Delete</a>
    </td>
    </tr>
    </table> 
</div>