<!-- <a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>
<div>
    <router-outlet></router-outlet>
</div> -->

<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Trang chủ</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/product/list">Danh sách</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product/create">Thêm mới</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
      <router-outlet></router-outlet>
  </div>
  